<%- include('parts/header')  %> 
<%- include('parts/navbar')  %>
 
    <div class="presentation">
        
        <div class="image">
        <img src="/photo.jpg">
        <div class="heading"> 
            <h2> présentation de SunWayTravel :</h2>
            <p> SunWayTravel est un site web, spécialisé dans la gestion des offres touristiques en Algérie,  <br>
         il regroupe les différentes offres de voyages organisés par des agences de voyages différentes. </p>
        </div>
        <br><br>
         <div class="objectif">

         <h2>L'objectif de SunWayTravel :</h2>
         <p>c'est un site web hub qui va concentrer toutes les offres touristiques  <br> en Algérie, il permettra aux agences de voyages algériennes et aussi <br>aux gérants des pages Facebook et instagram de faire la promotion de <br>leurs offres et aussi permettra aux clients d’accéder à plus large éventail<br> d’offres de différentes agences en un seul clic au lieu de devoir chercher <br>sur tous les sites.<br> <br><br><br>       		
         Mais aussi ajouter de nouveautés comme un code QR contient les détails<br>de la réservation,les voyageurs l’utilisent lors de paiement sur place. <br>Aussi des cartes fidélité offrant des services en bonus ou des réductions <br>pour les clients fidèles  de notre site, enfin des cartes cadeaux.
        </p>
        </div>
        </div>
        </div>  
    
    <%- include('parts/footer')  %>