<%- include('parts/header') %>
    <%- include('parts/navbar') %>

        <div class="item client">
            <div class="recentCustomers">
                <div class="cardHeader">
                    <h2>liste de chaz :</h2>
                </div>
                <table>
                    <% for(reservation of reservations) {%>

                        <tr>


                            <td>
                                <h4>
                                    <%= reservation.usernom %> <br><br> <span>
                                            <%= reservation.prix %>
                                        </span><br><br>
                                </h4>
                            </td>


                        </tr>
                        <% } %>

                            en attente de demandes d'ajouts...
                </table>
            </div>
        </div>